@model IEnumerable<WebApplication11.Models.ProductModel>

@{
    ViewData["Title"] = "GetCart";
}

<table class="m-2 justify-content-center" >

    @if (ViewBag.list == 0)
    {

       <div class="alert alert-info" role="alert">
          No item(s) in the cart yet.
       </div>
    }   
    @foreach (var item in Model)
    {


                <tbody class=" border-bottom m-5">
                        <tr>
                            <td class="col-sm-4  ">
                                <img src="@Url.Content("~/Uploads/" +item.ProfilePicture)" class="img-fluid w-25" alt="Error" />
                            </td>
                            <td class="col-sm-4">
                                <div>
                        @Html.DisplayFor(modelItem => item.ProductName)
                                </div>
                            </td>
                            <td class="col-sm-4">

                                $@Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td class="col-sm-4">
                                <div >

                                     <a   asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fs-3 bi bi-trash-fill text-secondary"></i>
                                         </a>
                              </div>
                            </td>
                        </tr>


                    </tbody>

    }
   

</table>