
@{
    ViewData["Title"] = "Index";
}
<div class="container justify-content-center">
    <div class="row">
        <h1>Dashboard</h1>
        <div >
            <a  class="btn btn-primary" asp-controller="dashboard" asp-action="Create">Creat new Item</a>
       
        </div>
    </div>
</div>


